<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <!--namespace属性：指定当前文件和哪个接口经行映射，指定完整路径文件路径结构 -->
<mapper namespace="com.cy.store.mapper.ProductMapper">
    <resultMap id="ProductEntityMap" type="com.cy.store.entity.Product">
        <!--名称不一致的字段匹配指定 一致可以不写 -->
        <!--result标签经行匹配 column:表字段 property:java实体类 例:表t_user.is_delete java实体类:user.isDelete -->
        <!--主键用id 其他用result 完整版需要写id 表示主键 -->
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"></result>
        <result column="item_type" property="itemType"></result>
        <result column="sell_point" property="sellPoint"></result>
        <result column="created_user" property="createdUser"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="modified_user" property="modifiedUser"></result>
        <result column="modified_time" property="modifiedTime"></result>
    </resultMap>
    <select id="findHotList" resultMap="ProductEntityMap">
        SELECT *
        FROM t_product
        WHERE status = 1
        ORDER BY priority DESC
        LIMIT 0,4
    </select>

    <select id="findById" resultMap="ProductEntityMap">
        SELECT *
        FROM t_product
        WHERE id = #{id}
    </select>

</mapper>